
<div class="content-section">
  
    <!-- Tabs -->
    <div class="tabs">
      <div class="tab selected">
        <span class="underline"></span>
        <a href="#">Profile</a>
      </div>
      <div class="tab">
        <a href="#">Notifications</a>
      </div>
      <div class="tab">
        <a href="#">Account</a>
      </div>
      <div class="tab">
        <a href="#">Security</a>
      </div>
    </div>
  
    <!-- Thin line below tabs -->
    <div class="line"></div>
  
    <!-- Profile Section -->
  <div class="profile-section">
    <h2>Profile</h2>
    <p>Enter your profile info.</p>

    <!-- Image Upload Section -->
    <div class="image-upload">
        <span class="">Profile image</span>
        <div class="upload-border">
            <button class="upload-button">Add File</button>
            <p>or drag and drop files</p>
        </div>
    </div>
  </div>


<div class="content-section">
    <div class="text-box-grid">
      <div class="text-box">
        <label for="box1">Label 1</label>
        <input type="text" id="box1" />
      </div>
      <div class="text-box">
        <label for="box2">Label 2</label>
        <input type="text" id="box2" />
      </div>
      <div class="text-box">
        <label for="box3">Label 3</label>
        <input type="text" id="box3" />
      </div>
      <div class="text-box">
        <label for="box4">Label 4</label>
        <input type="text" id="box4" />
      </div>
    </div>
    <div class="line add-vertical-space"></div>
    <h1>Regional Settings</h1>
    <p>Set your languages and timezone</p>
    <div class="regional-settings">
        <div class="each-regional-settings">
            <label for="language">Language</label>
            <select name="language" id="language">
                <option value="English">English</option>
            </select>
        </div>
        <div class="each-regional-settings">
            <label for="timezone">Timezone</label>
            <select name="timezone" id="timezone">
                <option value="English"></option>
            </select>
        </div>
    </div>
  </div>
  
  </div>
  