.top-bar {
    background-color: #ffffff;
    height: 50px;
    width: 100%;
}
.main-container {
    display: flex;
    height: calc(100vh - 50px); 
}
.sidebar {
    width: 20%;
    min-width: 200px;
    border-right:3px solid #D7DBEC;
}

.main-content {
    flex: 1;
    padding: 20px;
}