<div class="sidebar">
    <ul>
        <li>
          <a href="#">
            <span class="icon"><img src="../../assets/Icon.svg"/></span>
            <span class="link-text">Dashboard</span>
          </a>
        </li>
        <li>
            <a href="#">
              <span class="icon"><img src="../../assets/Icon.svg"/></span>
              <span class="link-text">Orders</span>
            </a>
        </li>
        <li>
            <a href="#">
              <span class="icon"><img src="../../assets/Icon.svg"/></span>
              <span class="link-text">Products</span>
            </a>
        </li>
      </ul>
</div>
